image:
  - Visual Studio 2022

nuget:
  account_feed: true

version: 2.0.0-rc.{build}
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  package_version: '{version}'

skip_branch_with_pr: true

configuration: Release

before_build:
 - choco install "sonarscanner-msbuild-net46" -y
 - dotnet restore -s https://www.nuget.org/api/v2/
 - cmd: set BUILD_VERSION=%APPVEYOR_BUILD_NUMBER%

build_script:
 - sonar-scanner.bat
 - dotnet build -c Release
 - dotnet test .\ProviderTests\ProviderTests.csproj -c Release -f net9.0 --no-build --collect:"XPlat Code Coverage;Format=opencover"
 - SonarScanner.MSBuild.exe end /d:sonar.login=%SONAR_LOGIN%

test: on

after_test:
 - dotnet pack .\SplitOpenFeatureProvider --configuration Release

artifacts:
 - path: '**\SplitOpenFeatureProvider*.nupkg'
   name: splitio-openfeature-provider-nuget
